{% extends 'base.html' %}

{% block title %}Event Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-2 p-2 event-box-red">
                <h3 class="card-header d-flex">{{ event.name }}</h3>
                <div class="card-body flex-column">
                    <p><strong>Ort: </strong>{{ event.postal_code }} {{ event.city }}</p>
                    <p><strong>Datum:</strong> {{ event.date|date:"d.m.Y" }}</p>
                    <p><strong>Strecken:</strong>
                        {% for d in event.distance.all %}
                        {{d.name}}{% if not forloop.last %},
                        {% endif %}
                        {% endfor %}
                    </p>
                    {% if event.description != "" %}
                    <p><strong>Beschreibung: </strong>{{ event.description }}</p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ event.url }}" class="btn btn-primary mb-3" target="_blank">Zur Event-Seite</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'home' %}" class="btn btn-primary mb-3">Zurück</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-2">
            <div class="map" id="map" style="height: 100%; width: 100%;"></div>
        </div>
    </div>

</div>

{{ data|json_script:"data" }}

<script>
    function formatDate(dateString) {
        // Datumsteile aus dem Input im Format YYYY-mm-dd extrahieren
        const [year, month, day] = dateString.split('-');

        // Das neue Format dd.mm.YYYY zurückgeben
        return `${day}.${month}.${year}`;
    }

    const data = JSON.parse(document.getElementById('data').textContent);

    // 1. Initialisiere die Karte
    var map = L.map('map').setView([parseFloat(data.latitude), parseFloat(data.longitude)], 9);

    // 2. OpenStreetMap Tile-Layer hinzufügen
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    // 3. Markierungen für datas hinzufügen
    L.marker([parseFloat(data.latitude), parseFloat(data.longitude)], { title: data.name, riseOnHover: true })
        .bindPopup("<b>" + data.name + "</b><br>" + data.city + "<br>" + formatDate(data.date) + "<br>" + data.distance)
        .openPopup()
        .addTo(map);

</script>
{% endblock %}